<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="title">Dashboard</ion-title>
    <ion-button class="entrar" routerLink="/login" ><ion-icon ios="ios-exit" md="md-exit"></ion-icon>Sair</ion-button>
    <ion-button class="cadastrar"  ><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="ehTablet">
    <ion-item text-wrap *ngIf="!criandoPainel">
      <ion-button (click)="limpar()" style="--background: gray;">Limpar</ion-button>
      <ion-button (click)="apagarAnterior()"  style="--background: gray;">Apagar anterior</ion-button>
      &nbsp;
      <ion-label text-wrap class="textbox" style="color: black;"> {{ fraseVocalizada }} </ion-label>
      &nbsp;
      <ion-button (click)="vocalizar()">Vocalizar</ion-button>
    </ion-item>
  </div>

  <div *ngIf="!ehTablet">
    <ion-item *ngIf="!criandoPainel">
      <ion-button (click)="limpar()" style="--background: gray;">Limpar</ion-button>
      <ion-button (click)="apagarAnterior()"  style="--background: gray;">Apagar anterior</ion-button>
    </ion-item>
    <ion-item text-wrap *ngIf="!criandoPainel">
      <ion-label text-wrap class="textbox" style="color: black;"> {{ fraseVocalizada }} </ion-label>
    </ion-item>

    <ion-item *ngIf="!criandoPainel">
      <ion-button (click)="vocalizar()">Vocalizar</ion-button>
    </ion-item>
  </div>

  <br/>

  <ion-button *ngIf="mostrarCartoes != 0 || criandoPainel || editandoPainel || adicionandoCartoesAPainel" class="title" (click)="voltarParaCategorias()" ><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>Voltar</ion-button>
  <ion-button *ngIf="mostrarCartoes === 0 && !criandoPainel && !editandoPainel && !adicionandoCartoesAPainel" (click)="expandirCategorias()" style="width: 100%; text-align: left;"><ion-icon *ngIf="!categoriasExpandidas" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon><ion-icon *ngIf="categoriasExpandidas" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>Categorias</ion-button>
  <ion-grid *ngIf="categoriasExpandidas && !criandoPainel && !editandoPainel && !adicionandoCartoesAPainel">
    <ion-row >
      <ion-col mode="ios" *ngFor="let categoria of categorias" [size]="numColumns">
        <ion-card [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" (click)="selecionarCategorias(categoria.id)" >
          <ion-img class="card-image" [src]="categoria.imagem"></ion-img>
          <ion-card-header style="color: black;"> {{ categoria.nome }} </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="mostrarCartoes != 0 && mostrarCartoes != -1 && !criandoPainel && !editandoPainel && !adicionandoCartoesAPainel">
    <br/>
    <br/>
    <br/>
    <ion-row >
      <ion-col mode="ios" *ngFor="let cartao of cartoes" [size]="numColumns">
        <ion-card (click)="adicionarCartaoAFrase(cartao.nome)" [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" >
          <ion-img class="card-image" [src]="cartao.imagem"></ion-img>
          <ion-card-header><ion-title class="card-title"> {{ cartao.nome }} </ion-title></ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="mostrarCartoes === -1">
    <br/>
    <br/>
    <br/>
    <ion-row >
      <ion-col mode="ios" *ngFor="let cartao of cartoes" [size]="numColumns">
        <ion-card (click)="adicionarCartaoAFrase(cartao.nome)" [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" >
          <ion-card-header><ion-title class="card-title"> {{ cartao.nome }} </ion-title></ion-card-header>
          <ion-img class="card-image" [src]="cartao.imagem"></ion-img>
          <ion-button (click)="deletarCartaoDoPainel(cartao)" style="--background: gray; margin: 1%;">Remover do painel</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="adicionandoCartoesAPainel">
    <ion-button (click)="adicionarListaDeCartoesNoPainel()" style="float: right;">Adicionar cartões</ion-button>
    <br/>
    <br/>
    <br/>
    <ion-row >
      <ion-col mode="ios" *ngFor="let cartao of todosCartoes" [size]="numColumns">
        <ion-card (click)="selecionarCartaoAddPainel(cartao)" [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" [ngStyle]="{ 'filter': brightnessCartoes[cartao.id] }" >
          <ion-card-header><ion-title class="card-title"> {{ cartao.nome }} </ion-title></ion-card-header>
          <ion-img class="card-image" [src]="cartao.imagem"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button *ngIf="mostrarCartoes === 0 && !criandoPainel && !editandoPainel && !adicionandoCartoesAPainel" (click)="expandirPaineis()" style="width: 100%; text-align: left;"><ion-icon *ngIf="!categoriasExpandidas" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon><ion-icon *ngIf="categoriasExpandidas" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>Painéis</ion-button>
  <ion-grid *ngIf="paineisExpandidos && mostrarCartoes === 0 && !criandoPainel && !editandoPainel && !adicionandoCartoesAPainel">
    <ion-row >
      <ion-col [size]="numColumns" >
        <ion-card [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" (click)="criarPainel()" >
          <ion-card-header><ion-title class="card-title"> Adicionar Painel </ion-title></ion-card-header>
          <ion-img class="card-image-add-sign" src="assets/add-sign.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col [size]="numColumns" *ngFor="let painel of paineis" >
        <ion-card [style.background]="painel.imagem" [ngClass]="ehTablet ? 'card-tablet': 'card-mobile'" (click)="selecionarPainel(painel.id)" >
          <ion-card-header><ion-title class="card-title"> {{ painel.nome }} </ion-title></ion-card-header>
          <br/>
          <br/>
          <ion-card-content word-wrap style="color: black; font-size: 20px;"> {{ painel.descricao }} </ion-card-content>
          <ion-button (click)="editarPainel(painel)" style="--background: gray;" class="card-action">Editar</ion-button>
          <ion-button (click)="excluirPainel(painel.id)" class="card-action">Excluir</ion-button>
          <ion-button (click)="iniciarSelecaoDeCartoesParaAdicionarNoPainel(painel)" style="--background: #1d1735;">Adicionar Cartões</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br/>
  <br/>
  <br/>
  <br/>
  <ion-card mode="ios" class="form-cria" *ngIf="criandoPainel">
    <ion-card-title class="card-title">Criar Painel</ion-card-title>
    <form [formGroup]="criarPainelForm">
      <br/>
      <br/>
      <div class="full-width">
        <ion-item>
          <ion-input [formControl]="criarPainelForm.controls['nome']" placeholder="Nome"></ion-input>
        </ion-item>
      </div>
      <br/>
      <br/>
      <div class="full-width">
        <ion-item>
          <ion-input [formControl]="criarPainelForm.controls['descricao']" placeholder="Descrição"></ion-input>
        </ion-item>
      </div>
      <br/>
      <br/>
      
      <ion-row>
        <ion-col text-center>
          <ion-button block (click)="cadastrarPainel()">
            Criar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>

  <ion-card class="form-cria" *ngIf="editandoPainel">
      <ion-card-title class="card-title">Editar Painel</ion-card-title>
      <form [formGroup]="editarPainelForm">
        <br/>
        <br/>
        <div class="full-width">
          <ion-item>
            <ion-input [formControl]="editarPainelForm.controls['nome']" placeholder="Nome"></ion-input>
          </ion-item>
        </div>
        <br/>
        <br/>
        <div class="full-width">
          <ion-item>
            <ion-input [formControl]="editarPainelForm.controls['descricao']" placeholder="Descrição"></ion-input>
          </ion-item>
        </div>
        <br/>
        <br/>
        
        <ion-row>
          <ion-col text-center>
            <ion-button block (click)="cadastrarEdicaoPainel()">
              Editar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>




</ion-content>