<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="title">Dashboard</ion-title>
    <ion-button class="entrar" routerLink="/login" ><ion-icon ios="ios-exit" md="md-exit"></ion-icon>Sair</ion-button>
    <ion-button class="cadastrar"  ><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button *ngIf="mostrarCartoes != 0" class="title" (click)="voltarParaCategorias()" ><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>Voltar</ion-button>
  <ion-button *ngIf="mostrarCartoes === 0" (click)="expandirCategorias()" style="width: 100%; text-align: left;">Categorias</ion-button>
  <br/>
  <br/>
  <br/>
  <ion-grid *ngIf="categoriasExpandidas">
    <ion-row >
      <ion-col col-6 col-md-4 col-xl-3 *ngFor=" let categoria of categorias" >
        <ion-card class="card" (click)="selecionarCategorias(categoria.id)" >
          <ion-title class="card-title"> {{ categoria.nome }} </ion-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row >
      <ion-col col-6 col-md-4 col-xl-3 *ngFor=" let cartao of cartoes" >
        <ion-card class="card" *ngIf="cartao.id_categoria === mostrarCartoes" >
          <ion-title class="card-title"> {{ cartao.nome }} </ion-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>