.toolbar-background {
    float: left;
    --background: #1d1735;
}

.title {
    float: left;
    margin: 10px;
}

.entrar {
    float: right;
    --background: #1d1735;
    color: white;
}
.cadastrar {
    float: right;
    --background: #1d1735;
    color: white;
}

.card-tablet {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 400px;
    margin: auto;
    text-align: center;
    --background: #7d6ebb75;
    background-color: #7d6ebb75;
    background-size: cover;
}

.card-mobile-ios, .ios-card-mobile, .card-mobile {
    min-width: 95%;
    background-size: cover;
    margin: auto;
    text-align: center;
    --background: #7d6ebb75;
}

.form-cria {
    max-width: 350px;
    min-height: 400px;
    margin-top: 10%;
    margin: auto;
    text-align: center;
    --background: #7d6ebb75;
}

.card-title {
    color: black;
    margin: 10px;
}

.full-width {
    --background: #7d6ebb75;
    opacity: 0.5;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-image {
    background-size: cover;
    width: 91%;
    height: 91%;
    margin: 4%;
}
.card-image-add-sign {
    background-size: cover;
    width: 65%;
    height: 65%;
    margin: auto;
}

.textbox {
    width: 100%;
    float: left;
    white-space: pre-line;
}

.card-action {
    margin-top: 30%;
}