<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title class="title">Dashboard</ion-title>
    <ion-button class="entrar" routerLink="/login" ><ion-icon ios="ios-exit" md="md-exit"></ion-icon>Sair</ion-button>
    <ion-button class="cadastrar"  ><ion-icon ios="ios-person" md="md-person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item text-wrap>
    <ion-button (click)="limpar()" style="--background: gray;">Limpar</ion-button>
    <ion-button (click)="apagarAnterior()"  style="--background: gray;">Apagar anterior</ion-button>
    &nbsp;
    <ion-label text-wrap class="textbox"> {{ fraseVocalizada }} </ion-label>
    &nbsp;
    <ion-button>Vocalizar</ion-button>
  </ion-item>
  
  <br/>

  <ion-button *ngIf="mostrarCartoes != 0" class="title" (click)="voltarParaCategorias()" ><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>Voltar</ion-button>
  <ion-button *ngIf="mostrarCartoes === 0" (click)="expandirCategorias()" style="width: 100%; text-align: left;"><ion-icon *ngIf="!categoriasExpandidas" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon><ion-icon *ngIf="categoriasExpandidas" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>Categorias</ion-button>
  <ion-grid *ngIf="categoriasExpandidas">
    <ion-row >
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let categoria of categorias" >
        <ion-card mode="ios" class="card" (click)="selecionarCategorias(categoria.id)" >
          <ion-title class="card-title"> {{ categoria.nome }} </ion-title>
          <ion-img class="card-image" [src]="categoria.imagem"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="mostrarCartoes != 0">
    <br/>
    <br/>
    <br/>
    <ion-row >
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let cartao of cartoes">
        <ion-card (click)="adicionarCartaoAFrase(cartao.nome)" class="card" mode="ios" >
          <ion-title class="card-title"> {{ cartao.nome }} </ion-title>
          <ion-img class="card-image" [src]="cartao.imagem"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>