.toolbar-background {
    float: left;
    --background: #1d1735;
}

.title {
    float: left;
    margin: 10px;
}

.entrar {
    float: right;
    --background: #1d1735;
    color: white;
}
.cadastrar {
    float: right;
    --background: #1d1735;
    color: white;
}

.card {
    max-width: 350px;
    max-height: 400px;
    min-height: 300px;
    min-width: 250px;
    margin: auto;
    text-align: center;
    --background: #7d6ebb75;
    background-size: cover;
}

.card-title {
    color: black;
    margin: 10px;
}

.full-width {
    --background: #7d6ebb75;
    opacity: 0.5;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-image {
    background-size: cover;
    width: 95%;
    height: 95%;
    margin: auto;
}

.textbox {
    --background: lightgray;
    color: black;
    opacity: 0.7;
}