<mat-toolbar class="background-color">
  <span class="span">Cadastrar-se</span>
</mat-toolbar>
<mat-card class="example-card">
  <br/>
  <mat-card-content>
    <!-- CONTENT HERE -->
    <br/>
    <form class="my-form" [formGroup]="registrationForm" >
      <!-- FORM FIELDS HERE -->
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput  placeholder="Nome"  name="fname"  required>
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Sobrenome</mat-label>
        <input formControlName="sobrenome" matInput  placeholder="Sobrenome" name="lname"  required>
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input formControlName="login" matInput  placeholder="Login" name="login"  required>
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput  placeholder="Email" name="email">
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput  placeholder="Senha"  name="password">
      </mat-form-field>
      <br/>
    </form>
    <br/>
  </mat-card-content>
  <mat-card-actions>
    <!-- REGISTER BUTTON HERE -->
    <button mat-raised-button (click)="register()" class="background-color">CADASTRAR</button>

  </mat-card-actions>
</mat-card>
