.spacer {
  flex: 1 1 auto;
}

.background-style {
  background-color: #33819a;
  color: white
}

.color-font {
  color: white;
}

mat-grid-tile {
  background: lightblue;
}

.example-card {
  margin: auto;
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  text-align: center;
  background-color: lightblue;
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}

mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
}
