.spacer {
  flex: 1 1 auto;
}

[ng-click] {
  cursor: pointer;
}

.full-width {
  max-width: 350px;
  min-width: 300px;
}

.back-style {
  background-color: #338eab;
  color: white
}

.background-style {
  background-color: #33819a;
  color: white
}

.color-font {
  color: white;
}

mat-grid-tile {
  background: lightblue;
}

.example-card {
  margin: auto;
  text-align: center;
  background-color: lightblue;
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}

.example-form {
  max-width: 350px;
  min-height: 400px;
  margin-top: 10%;
  margin: auto;
  text-align: center;
  background-color: lightblue;
}

mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 40%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 40%;
}
