<mat-toolbar class="back-style" (click)="voltarParaCategorias()" apDarkenOnHover ng-click>
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span>
      <mat-icon *ngIf="mostrarCartoes != 0 || criandoCategoria">keyboard_backspace</mat-icon>
      <a *ngIf="mostrarCartoes != 0 || criandoCategoria" class="color-font"> Voltar</a>
      <a *ngIf="mostrarCartoes == 0 && !criandoCategoria"> Categorias</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list *ngIf="mostrarCartoes == 0 && !criandoCategoria" [cols]="breakpoint" rowHeight="2:1.5" (window:resize)="onResize($event)">
  <br/>
  <mat-grid-tile apDarkenOnHover ng-click>
    <mat-card (click)="criarCategoria()" class="example-card">
      <mat-card-title> Adicionar </mat-card-title>
      <img mat-card-image src="./assets/add-sign.png" />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let categoria of categorias" >
    <mat-card class="example-card" apDarkenOnHover ng-click>
      <div (click)="selecionarCategoria(categoria.id)" >
        <mat-card-title > {{ categoria.nome }} </mat-card-title>
        <img mat-card-image *ngIf="categoria" [src]="categoria?.imagem || ''" />
      </div>

      <mat-card-footer >
        <button (click)="editarCategoria(categoria)" apDarkenOnHover ng-click mat-icon-button><mat-icon>edit</mat-icon>Editar</button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<br/>

<mat-grid-list *ngIf="mostrarCartoes != 0 && !criandoCategoria" [cols]="breakpoint" rowHeight="1.5:1.5" (window:resize)="onResize($event)">
  <div *ngFor="let cartao of cartoes">
    <mat-grid-tile *ngIf="cartao.id_categoria == mostrarCartoes" apDarkenOnHover ng-click>
      <mat-card class="example-card">
        <div>
          <mat-card-title> {{ cartao.nome }} </mat-card-title>
          <img mat-card-image *ngIf="cartao" [src]="cartao?.imagem || ''" />
        </div>

        <mat-card-footer >
          <button apDarkenOnHover ng-click mat-icon-button><mat-icon>edit</mat-icon>Editar</button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<mat-card *ngIf="criandoCategoria" class="example-form">
    <mat-card-title style="color: gray;">
      Cadastro de Categoria
    </mat-card-title>
    <mat-card-content>
      <br/>
      <mat-error *ngIf="erroCriarCategoria.length > 0"> {{ erroCriarCategoria }} </mat-error>
      <br/>
      <form class="my-form" [formGroup]="criarCategoriaForm">
        <br/>
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input formControlName="nome" matInput  placeholder="Nome" name="nome">
          <mat-error *ngIf="hasError('nome', 'required')">Nome é um campo obrigatório</mat-error>
        </mat-form-field>
        <br/>
        <br/>
        <mat-form-field class="full-width">
          <mat-label>Descrição</mat-label>
          <input formControlName="descricao" matInput  placeholder="Descrição" name="descricao">
          <mat-error *ngIf="hasError('descricao', 'required')">Descrição é um campo obrigatório</mat-error>
        </mat-form-field>
        <br/>
        <br/>
      </form>

      <input style="display: none" name="imagemCategoria"
        type="file" (change)="onFileChanged($event)" #fileInput >
      <button mat-flat-button style="float:left;margin-left: 5%;" (click)="fileInput.click()">Selecione uma imagem</button>
      <a *ngIf="arquivoSelecionado">{{arquivoSelecionado.name}}</a>

    </mat-card-content>
    <mat-card-actions>
      <br/>
      <br/>
      <br/>
      <button mat-raised-button (click)="cadastrarCategoria()" class="background-color" >CADASTRAR</button>
    </mat-card-actions>
  </mat-card>
